.formBox {
	overflow: auto;
	max-width: 900px;
	margin: auto;
	margin-top: 12px;
	padding: 3px;
	text-align: center;
}
.formTitle {
	border: 2px solid #32EA25;
    border-radius: 200px;
    margin: 2px;
    padding: 8px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    background: #32EA25;
}
.formStyle {
	border: 2px solid #32EA25;
    border-radius: 200px;
    margin: 5px;
    padding: 7px;
    text-align: center;
    font-size: 16px;
}
.formButt {
	margin-left: 3px;
	padding: 7px;
	background: #32EA25;
}
.formButt:hover {
	box-shadow: 0 0 12px 5px #4B4A45;
	cursor: pointer;
}
.calendar {
	margin-left: 10px;
	text-align: center;
}
.clock {
	margin-left: 3px;
	text-align: center;
}
.inputGPS {
	width: 160px;
	padding: 8px;
}
.latitP {
	margin-left: 5px;
	padding: 8px;
	width: 70px;
	text-align: center;
}
.longitP {
	padding: 8px;
	width: 70px;
	text-align: center;
}