.Board {
	overflow: auto;
	max-width: 1106px;
	margin: auto;
	padding: 1px;
	border: 3px solid #32EA25;
	border-radius: 200px;
	background: #A3F26F;
}
.wheelBox {
	position: relative;
	float: left;
	margin: 2px;
	border: 3px solid #32EA25;
	border-radius: 200px;
	background: white;
}
.greenTip {
	background: white;
    position: absolute;
    top:  46px;
    left: 110px;
    min-width: 130px;
    max-width: 150px;
    text-align: center;
	padding: 6px;
	border-radius: 20px;
	border: 1px solid #726E6E;
}
.wheelTip {
    background: white;
    position: absolute;
    top:  65px;
    left: 100px;
    min-width: 130px;
    max-width: 150px;
    text-align: center;
	padding: 6px;
	border-radius: 20px;
	border: 1px solid #726E6E;
}
.titleTip {
	margin: 7px;
	border-radius: 50px;
	font-weight: bold;
}
.commTip {
	margin: 5px;
	border-radius: 50px;
	font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 13pt;
}
.dateTip {
	padding-top: 8px;
	border-top: 1px solid black;
}
.timeTip {
	margin: 3px;
	padding-bottom: 8px;
	border-bottom: 1px solid black;
}
.Button {
    border: 3px solid #32EA25;
	border-radius: 200px;
}
.Button:hover {
    box-shadow: 0 0 12px 5px #4B4A45;
	cursor: pointer;	
}
.Mask {
	border-radius: 200px;
}
.Staff {
    border-radius: 200px;	
}
.Stick {
    border-radius: 200px;	
}
/******************************************************************************/

.sleep {
	opacity: 0.4;
}
.sleep:hover {
	border-radius: 200px;
	box-shadow: 0 0 12px 4px #4B4A45;
	opacity: 1;
	cursor: pointer;
}
.active {
	opacity: 1;
}
.active:hover {
	box-shadow: 0 0 12px 4px #4B4A45;
	cursor: pointer;
}
.focus { 
	box-shadow: 0 0 10px 7px #FFFFFF;
	border-radius: 50px;
	opacity: 1;
}
.show {
    border: 3px solid #F229D7;
    box-shadow: 0 0 10px 4px #F229D7;
}
.show:hover {
    box-shadow: 0 0 10px 8px #F229D7;
}
.Green.focus { 
	box-shadow: 0 0 10px 7px green;
	opacity: 1;
}
.Green.focus:hover { 
	box-shadow: 0 0 10px 8px green;
	opacity: 1;
}
.Red.focus { 
	box-shadow: 0 0 10px 4px red;
	opacity: 1;
}
.Red.focus:hover { 
	box-shadow: 0 0 10px 7px red;
	opacity: 1;
}
.White.focus { 
	box-shadow: 0 0 10px 4px white;
	opacity: 1;
}
.White.focus:hover { 
	box-shadow: 0 0 10px 7px white;
	opacity: 1;
}
.Blue.focus { 
	box-shadow: 0 0 10px 4px blue;
	opacity: 1;
}
.Blue.focus:hover { 
	box-shadow: 0 0 10px 7px blue;
	opacity: 1;
}
.Yellow.focus { 
	box-shadow: 0 0 10px 4px yellow;
	opacity: 1;
}
.Yellow.focus:hover { 
	box-shadow: 0 0 10px 7px yellow;
	opacity: 1;
}
/*.focusAstro {
	opacity: 1;
	border-radius: 50px;
	border: 1px solid white;
	box-shadow: 0 0 10px 5px white;
}*/