main {
	min-width: 1120px;
	padding: 5px;
	border: 4px solid #32EA25;
	border-radius: 110px;
	background: #F2ED65;
}
h1 {
	text-align: center;
	color: green;
	background: #32EA25;
}
.tip {
	background: white;
	padding: 10px;
	border-radius: 20px;
}
.maskTip {
    background: white;
    position: absolute;
    top:  136px;
    left: 108px;
    width: 130px;
    text-align: center;
	padding: 6px;
	border-radius: 20px;
	border: 1px solid #726E6E;
}
.spokeTip {
	margin: 7px;
	border-radius: 50px;
}
.dateTip {

}
.timeTip {
	margin: 3px;
}
.Green {
	border: 2px solid green;
	background: #78D838;
}
.Red {
	border: 2px solid red;
	background: #FF6666;
}
.White {
	border: 2px solid white;
	background: #D6D6D8;
}
.Blue {
	border: 2px solid blue;
	background: #3369D6;
}
.Yellow {
	border: 2px solid #FFE500;
	background: #FFFF00;
}
footer {
	text-align: center;
	color: green;
	background: #32EA25; 
}